.btn-discord {
  color: #fff;
  background-color: #7289da;
  border-color: #7289da;
}

.btn-discord:hover {
  color: #fff;
  background-color: #657ed6;
  border-color: #657ed6;
}

.btn-discord:focus, .btn-discord.focus {
  color: #fff;
  background-color: #5772d3;
  border-color: #5772d3;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-discord.disabled, .btn-discord:disabled {
  color: #fff;
  background-color: #020307;
  border-color: #020307;
}